*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding-bottom: 60px;
    /* margin: 0; */
}

/* search bar */

.search-section{
    width: 100%;
}

.search-box{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-top: 20px; */
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
    gap: 10px;
    padding-left: 10px;
    /* background:linear-gradient(
        135deg,
        #f8f4ee 0%,
        #f3e8dc 45%,
        #efe2d3 100%
    ); */
    background: #ffffff;
}

.search-input{
    width: 80%;
    height: 45px;
    border-radius: 999px;
    border: 1px solid #e8e8e8;
    background: #f8f8f8;
    padding-left: 48px;
    color: #666666;
    font-size: 15px;
    justify-content: center;
}

.search i{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #666666;
    
}

.cart{
    font-size: 24px;
    margin-right: 12px;
    color: #1a1a1a;
}

.remove i{
    position: relative;
    right: 50px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #666666;
    display: none;
    height: 200px;
    width: 200px;
}

.search-input:focus{
    outline: none;
    border: 1px solid #ff5c8a;
    box-shadow: 0 0 0 3px rgba(178, 58, 72, 0.15);
} 

/* =========================
   PRODUCT GALLERY
========================= */

.product-gallery{
    width:100%;
    height: 450px;
}

.slider{
    position:relative;
    overflow:hidden;
    background:#f8f8f8;
}

.slider-wrapper{
    display:flex;
    transition:.4s ease;
    
}

.slide{
    min-width:100%;
    height:450px;
    object-fit:cover;
    object-position: top;
    user-select:none;
}

/* Dots */

.dots{
    position:absolute;
    bottom:35px;
    width:100%;
    display:flex;
    justify-content:center;
    gap:8px;
}

.dot{
    width:9px;
    height:9px;
    border-radius:50%;
    background:#ddd;
    transition:.3s;
}

.dot.active{
    width:22px;
    border-radius:30px;
    background:#ff3f6c;
}

.share{
    background-color: #ffffff;
    color: #1a1a1a;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: none;
    position: absolute;
    left: 89%;
    bottom: 79%;
    font-size: 16px;
}

/* ==========================
      THUMBNAILS
========================== */

.thumbnails{

    display:flex;
    gap:10px;
    overflow-x:auto;

    margin-top:15px;

    opacity:0;
    visibility:hidden;

    transform:translateY(15px);

    transition:.35s;
}

.thumbnails.show{

    opacity:1;
    visibility:visible;

    transform:translateY(0);

}

.thumb{

    width:80px;
    height:95px;

    object-fit:cover;

    border-radius:12px;

    border:3px solid transparent;

    cursor:pointer;

    flex-shrink:0;

    transition:.3s;

}

.thumb.active{

    border-color:#ff3f6c;

}

/* Hide Scrollbar */

.thumbnails::-webkit-scrollbar{

    display:none;

}

/*=========================
PRODUCT INFO
=========================*/

.product-info{

    padding:10px 10px;
    box-shadow: 0 -4px -20px rgba(0,0,0,.05);

}

.product-title{

    font-size:20px;

    line-height:1.5;

    color:#222;

    font-weight:600;

}

.rating-box{

    display:flex;

    align-items:center;

    margin: 5px 10px 0 4px ;

}

.rating-box p{
    background: #d4f4e5;
    margin-left: 8px;
    font-family: 500;
    padding: 4px;
    height: 25px;
    border-radius: 5px;
    color: #009f52;
    /* border-right: 2px solid #e5e5e5; */
}

.rating{

    /* padding:5px 10px; */

    border-radius:20px;

    font-size:14px;

    font-weight:600;

    color: #1a1a1a;

}

.rating i{
    color: #0f9d58;
    margin-left: 3px;
}

.review{

    color:#666;

    font-size:15px;

}

.price-box{

    display:flex;

    align-items:center;

    gap:12px;

    flex-wrap:wrap;
    margin-top: 5px;

}

.price{

    font-size:30px;

    font-weight:700;

    color:#111;

}

.old-price{

    text-decoration:line-through;

    color:#999;

    font-size:18px;

}

.discount{

    color:#ff3f6c;

    font-size:18px;

    font-weight:700;

}

.tax{

    color:#0f9d58;
    margin-top:3px;
    font-size:14px;
    padding-bottom: 8px;
    border-bottom: 1px solid #e5e5e5;
    font-size: 18px;

}

/*======================
COLOR SELECTOR
======================*/

.product-variants{

    padding:20px 16px;

    background:#fff;

}

.variant-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:15px;

}

.variant-header h3{

    font-size:18px;

    font-weight:600;

}

.selected-color{

    color:#777;

    font-size:15px;

}

.color-list{

    display:flex;

    gap:15px;

    overflow-x:auto;

    padding-bottom:5px;

}

.color-list::-webkit-scrollbar{

    display:none;

}

.color{

    width:50px;

    height:50px;

    border-radius:50%;

    padding:3px;

    border:2px solid transparent;

    cursor:pointer;

    transition:.3s;

    flex-shrink:0;

}

.color img{

    width:100%;

    height:100%;

    border-radius:50%;

    object-fit:cover;

}

.color.active{

    border-color:#ff3f6c;

}

/* size selector */

/*=========================
SIZE SELECTOR
=========================*/

.size-section{

    padding:20px 16px;

    background:#fff;

    border-top:1px solid #f2f2f2;

    border-bottom:1px solid #e5e5e5 ;

}

.size-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:16px;

}

.size-header h3{

    font-size:18px;

    font-weight:600;

}

.size-guide{

    color:#ff3f6c;

    text-decoration:none;

    font-size:15px;

    font-weight:600;

}

.size-list{

    display:flex;

    gap:12px;

    flex-wrap:wrap;

}

.size{

    width:50px;

    height:38px;

    border:1.5px solid #ddd;

    border-radius:12px;

    display:flex;

    align-items:center;

    justify-content:center;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

    background:#fff;

}

.size:hover{

    border-color:#ff3f6c;

}

.size.active{

    background:#ff3f6c;

    color:#fff;

    border-color:#ff3f6c;

}

/*=========================
DELIVERY SECTION
=========================*/

.delivery-section{

    margin-top:10px;
    padding:18px 16px;

    background:#fff;

    /* border-radius:18px; */

    /* border:1px solid #eee; */

}

.delivery-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.location{

    display:flex;

    gap:14px;

    align-items:flex-start;

}

.location i{

    font-size:20px;

    color:#ff3f6c;

    margin-top:3px;

}

.location h4{

    font-size:16px;

    margin-bottom:4px;

}

.location p{

    color:#666;

    font-size:14px;

    line-height:1.5;

}

.delivery-header .fa-chevron-right{

    color:#999;

}

.delivery-info{

    margin-top:16px;

    display:flex;

    gap:12px;

    flex-wrap:wrap;

}

.delivery-date{

    background:#f7f7f7;

    padding:8px 14px;

    border-radius:25px;

    font-size:14px;

}

.free-delivery{

    background:#e8f8ef;

    color:#0f9d58;

    padding:8px 14px;

    border-radius:25px;

    font-size:14px;

    font-weight:600;

}

/*=========================
WHY YOU'LL LOVE IT
=========================*/

.features-section{

    margin-top:10px;
    background:#fff;
    padding:20px 16px;

}

.features-section h3{

    font-size:20px;
    font-weight:700;
    margin-bottom:18px;

}

.features-grid{

    display:grid;

    grid-template-columns:repeat(5,1fr);

    gap:12px;

}

.feature-card{

    display:flex;

    flex-direction:column;

    align-items:center;

    text-align:center;

}

.feature-icon{

    width:40px;
    height:40px;

    border-radius:50%;

    background:#fff5f8;

    border:1px solid #ffd6e3;

    display:flex;

    align-items:center;

    justify-content:center;

    margin-bottom:10px;

}

.feature-icon i{

    font-size:18px;

    color:#ff3f6c;

}

.feature-card p{

    font-size:10px;

    color:#555;

    line-height:1.4;
}

/*=========================
SIMILAR PRODUCTS
=========================*/

.similar-products{

    margin-top:10px;

    background:#fff;

    padding:20px 16px;

}

.section-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:18px;

}

.section-header h2{

    font-size:22px;

}

.section-header a{

    text-decoration:none;

    color:#ff3f6c;

    font-weight:600;

}

.product-slider{

    display:flex;

    gap:10px;

    overflow-x:auto;
    overflow-y: hidden;

    scroll-behavior: smooth;
    white-space: nowrap;
    -webkit-overflow-scrolling:touch ;
    scrollbar-width: none;
    padding-bottom:10px;

}

.product-slider::-webkit-scrollbar{

    display:none;

}

.product-card{

    width:200px;
    height:380px;
    flex: 0 0 200px;
    background:#fff;

    border-radius:10px;

    overflow:hidden;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    position:relative;

    scroll-snap-align:start;

}

.product-card img{

    width:100%;

    height:270px;

    object-fit:cover;
    object-position: top;

}

.offer-tag{

    position:absolute;

    top:240px;

    left:119px;

    background:#ff3f6c;

    color:#fff;

    padding:5px 10px;

    border-radius:20px;

    font-size:12px;

}

.wishlist-btn{

    position:absolute;

    top:10px;

    right:10px;

    width:36px;

    height:36px;

    border:none;

    border-radius:50%;

    background:#fff;

    cursor:pointer;

}

.product-card h4{

    padding:8px;

    font-size:15px;

}

.product-card .rating{

    padding:0 5px;

    color:#0f9d58;

}

.product-card .price{

    padding:5px 0 0 8px;

    font-size:20px;

    font-weight:600;
    display: flex;
    gap: 2px;

}

.product-card .price span{

    text-decoration:line-through;

    color:#666666;

    font-size:20px;

    margin-left:8px;

}

/*=========================
BOTTOM ACTION BAR
=========================*/

.bottom-bar{

    position:fixed;

    left:0;

    bottom:0;

    width:100%;
    height: 75px;

    background:#fff;

    padding:10px 12px;

    display:flex;

    gap:10px;

    box-shadow:0 -8px 20px rgba(0,0,0,.08);

    z-index:999;

    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #c5c2c2;

}


.add-cart{

    height: 100%;
    width: 50%;

    border:none;

    border-radius:16px;

    background:#ff3f6c;

    color:#fff;

    font-size:17px;

    font-weight:600;

    cursor:pointer;
   

}

.buy-now{

    height: 100%px;
    width: 50%;

    border:none;

    border-radius:16px;

    background:#6C5CE7;

    color:#fff;

    font-size:17px;

    font-weight:600;

    cursor:pointer;

}

.bottom-bar button{

    height:50px;
    width: 46%;
    transition:.3s;

}

.bottom-bar button:active{

    transform:scale(.96);

}

/* add to cart msg */

.toast{

    position:fixed;

    left:50%;
    bottom:100px;

    transform:translateX(-50%);

    background:#222;
    color:#f2f2f2;

    padding:14px 22px;

    border-radius:5px;

    opacity:0;

    transition:.4s;

    pointer-events:none;

    width: 90%;
    height: 50px;

    display: flex;
    align-items: center;

}

.toast P{
    width: 60%;
}

.toast a{
    width: 40%;
    text-decoration: none;
    color: #ffb400;
    font-size: 18px;
    display: flex;
    justify-content: flex-end;
}

.toast.show{

    opacity:1;

}

/*=========================
PRODUCT HIGHLIGHTS
=========================*/

.highlight-header{

    display:flex;
    justify-content:space-between;
    align-items:center;
    padding-bottom: 20px;

}

.toggle-btn{

    width:40px;
    height:40px;

    border:none;
    background:none;

    cursor:pointer;

    font-size:18px;
    color:#555;

}

.toggle-btn i{

    transition:.3s;

}

.toggle-btn.active i{

    transform:rotate(180deg);

}

.product-highlights{

    /* margin-top:12px; */

    background:#fff;

    border-radius:18px;

    padding:0px 18px;

}

/* .section-title{

    margin-bottom:18px;

} */

.section-title h2{

    font-size:22px;

    font-weight:700;

    color:#222;

}

.highlight-list{

    display:flex;

    flex-direction:column;

    gap:14px;

}

.highlight-item{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding-bottom:14px;

    border-bottom:1px solid #f2f2f2;

}

.highlight-item:last-child{

    border-bottom:none;

    padding-bottom:0;

}

.label{

    color:#777;

    font-size:15px;

}

.value{

    font-size:15px;

    font-weight:600;

    color:#222;

    text-align:right;

}

/*=========================
PRODUCT DESCRIPTION
=========================*/

.product-description{

    margin-top:12px;
    padding:20px;
    background:#fff;
    border-radius:18px;

}

.description-header{

    display:flex;
    justify-content:space-between;
    align-items:center;

}

.description-header h2{

    font-size:22px;
    font-weight:700;

}

.description-toggle{

    width:40px;
    height:40px;

    border:none;
    background:none;

    cursor:pointer;

    font-size:18px;

}

.description-toggle i{

    transition:.3s;

}

.description-content{

    margin-top:18px;

}

#description-text{

    color:#666;
    line-height:1.8;
    font-size:15px;

    display:-webkit-box;
    -webkit-box-orient:vertical;

    overflow:hidden;

}

#readMoreBtn{

    margin-top:14px;

    border:none;
    background:none;

    color:#ff3f6c;

    font-weight:600;

    cursor:pointer;

}

/*=========================
REVIEWS
=========================*/

.reviews-section{

    margin-top:12px;
    background:#fff;
    padding:20px;
    border-radius:18px;

}

.review-header{

    display:flex;
    justify-content:space-between;
    align-items:center;

}

.review-header h2{

    font-size:22px;
    font-weight:700;

}

.review-toggle{
    background: transparent;
    border: none;
    font-size: 17px;
}

.overall-rating{

    display:flex;
    gap:30px;
    margin:25px 0;

}

.rating-left h1{

    font-size:48px;

}

.rating-left p{

    color:#ffb400;
    font-size:18px;

}

.rating-left span{

    color:#666;

}

.rating-right{

    flex:1;

}

.bar{

    display:flex;
    align-items:center;
    gap:10px;
    margin:8px 0;

}

.progress{

    flex:1;
    height:8px;
    background:#eee;
    border-radius:20px;

}

.progress div{

    height:100%;
    background:#0f9d58;
    border-radius:20px;

}

/*==============================
    CUSTOMER REVIEWS SECTION
==============================*/

.reviews-section{
    background:#fff;
    margin-top:16px;
    padding:20px 5px 2px 5px;
    border-radius:20px;
}

/* Header */

.review-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

.review-header h2{
    font-size:22px;
    font-weight:700;
    color:#222;
}

.review-header a{
    text-decoration: none;
    color: #ff3f6c;
    font-weight: 500;
}

/*==============================
        REVIEW CARD
==============================*/

.review-card{

    background:#fff;

    border:1px solid #eeeeee;

    border-radius:18px;

    padding:18px;

    box-shadow:0 6px 18px rgba(0,0,0,.05);

}

/*==============================*/

.review-top{

    display:flex;
    flex-direction: column;

    justify-content:space-between;

    align-items:flex-start;

    gap:15px;

}

/*==============================*/

.review-left{

    display:flex;

    flex-wrap:wrap;

    align-items:center;

    gap:10px;
    /* height: 100px; */
    width: 75%;

}

/*==============================*/

.stars{

    display:flex;

    gap:3px;

    color:#0f9d58;

    font-size:15px;

    width: 30%;

}

/*==============================*/

.rating-badge{

    background:#0f9d58;

    color:#fff;

    padding:3px 10px;

    border-radius:30px;

    font-size:13px;

    font-weight:600;

    display: flex;
    align-items: center;
   margin-left: 25px;

}

.product-details p{
    width: 100%;
    color: #888888;
    font-size: 15px;
    font-weight: 500;
}

/*==============================*/

.verified{

    display:flex;
    /* flex-direction: column; */

    /* align-items:center; */

    gap:5px;

    color:#0f9d58;

    font-size:13px;

    font-weight:600;

}

.review-variant{
    color: #666666;
}

/*==============================*/

.review-top{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.review-right{

    display:flex;

    align-items:center;

    gap:12px;

    width: 25%;

}

.review-date{
    display: flex;
    font-size:13px;
    width: 100%;
    color:#888;
    justify-content: flex-end;
    /* align-items: center; */
    height: 50px;

}

.review-menu{

    border:none;

    background:none;

    cursor:pointer;

    font-size:18px;

    color:#777;

}

/*==============================*/

.review-title{

    margin-top:18px;

    font-size:18px;

    font-weight:700;

    color:#222;

}

/*==============================*/

.review-text{

    margin-top:10px;

    color:#666;

    line-height:1.7;

    font-size:15px;

}

/*==============================
      REVIEW PHOTOS
==============================*/

.review-gallery{

    display:flex;

    gap:12px;

    overflow-x:auto;

    margin-top:18px;

    scrollbar-width:none;

}

.review-gallery::-webkit-scrollbar{

    display:none;

}

.review-gallery img{

    width:95px;

    height:95px;

    object-fit:cover;

    border-radius:14px;

    flex-shrink:0;

}

/*==============================*/

.more-images{

    width:95px;

    height:95px;

    background:#f2f2f2;

    border-radius:14px;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    font-size:24px;

    font-weight:700;

    color:#444;

    flex-shrink:0;

}

.more-images span{

    font-size:13px;

    font-weight:500;

    margin-top:5px;

}

/*==============================
      FOOTER
==============================*/

.review-footer{

    margin-top:20px;

    display:flex;

    /* justify-content:space-between; */
    gap: 5px;

    align-items:center;

}

/*==============================*/

.helpful-btn{

    border:none;

    background:#f8f8f8;

    padding:10px 16px;

    border-radius:30px;

    font-size:14px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;

}

.helpful-btn:hover{

    background:#ffedf3;

    color:#ff3f6c;

}

/*=========================
RECENTLY VIEWED
=========================*/

.recently-viewed{

    /* margin-top:12px; */

    background:#fff;

    padding:20px 16px;

    border-radius:18px;

}

.recent-slider{

    display:flex;

    gap:15px;

    overflow-x:auto;

    padding-bottom:10px;

    scroll-snap-type:x mandatory;

}

.recent-slider::-webkit-scrollbar{

    display:none;

}

.recent-card{

    min-width:170px;

    background:#fff;

    border:1px solid #eee;

    border-radius:16px;

    overflow:hidden;

    scroll-snap-align:start;

    transition:.3s;

}

.recent-card img{

    width:100%;

    height:210px;

    object-fit:cover;
    object-position: top;

}

.recent-card h4{

    padding:10px;

    font-size:15px;

    font-weight:600;

}

.recent-price{

    padding:0 10px 12px;

    font-size:18px;

    font-weight:700;

}

.recent-price span{

    text-decoration:line-through;

    color:#888;

    font-size:14px;

    margin-left:8px;

}
